<div class="col col-4 article-card">
  <div class= "image-article" ><img width="270" height="155" src="<%= article.image%>" alt="back pain image"></div>
            <div class=card-title><h5><%= article.title %></h5></div>
            <div class="card-body"><p><%= article.soustitre %></p><!-- Button trigger modal -->
              <button type="button"
                      class="button-read "
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModalLong-<%=article.id %>"
                      >
                      Read
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong-<%=article.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="exampleModalLongTitle"><%= article.title %></h2>
                      <%# <button type="button" class="top-closing" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button> %>
                        <button type="button" class="top-closing" data-bs-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <h4> <%= article.h1 %></h4>
                        <p> <%= article.paragraph1 %></p>
                        <h4> <%= article.h2 %></h4>
                        <p> <%= article.paragraph2 %></p>
                        <h4> <%= article.h3 %></h4>
                        <p> <%= article.paragraph3 %></p>
                        <h4> <%= article.h4 %></h4>
                        <p> <%= article.paragraph4 %></p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="closing-button" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
