<div class="c">
  <h1>Do you know...? Test your knowledge!</h1>
  <div
    class="quiz-card" data-controller="answer-compare"
    data-answer-compare-question-value="<%= @question.id%>"
    data-answer-compare-answer-value=""
  >
    <div>
      <p>question : <%= @question.content %></p>
    </div>
    <div class="quiz-card-answers">
      <div class="form-check">
        <input class="form-check-input" type="radio" value="yes" name="answer" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Yes, that can have an impact.
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="no" name="answer" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          No, It cannot have an impact.
        </label>
      </div>
      <button type="button" class="button-quiz"
        <%# data-container="body" %>
        data-bs-toggle="popover"
        data-bs-placement="left"
        data-bs-content="Congratulations! You gave the right answer! Indeed it can increase back pain by a domino effect."
      >
        Submit
      </button>
    </div>
  </div>
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'for you')" id="defaultOpen">For you</button>
    <button class="tablinks" onclick="openCity(event, 'lower back')">Lower Back</button>
    <button class="tablinks" onclick="openCity(event, 'neck')">Neck</button>
    <button class="tablinks" onclick="openCity(event, 'shoulder')">Shoulder</button>
  </div>

  <div id="for you" class="tabcontent">
    <div class="grid-container">
      <% @articles.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

  <div id="lower back" class="tabcontent">
    <div class="grid-container">
        <% @articles.each do |article| %>
          <%= render "article", article: article %>
        <% end %>
    </div>
  </div>

  <div id="neck" class="tabcontent">
    <div class="grid-container">
      <% @articles.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

  <div id="shoulder" class="tabcontent">
    <div class="grid-container">
      <% @articles.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

</div>
<script>

document.getElementById("defaultOpen").click();

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
