<div class="c">
  <h4>Question of the day</h4>
  <div
    class="quiz-card" data-controller="answer-compare"
    data-answer-compare-question-value="<%= @question.id%>"
  >
    <div>
      <p><%= @question.content %></p>
    </div>
    <div
      class="answer_container"
      data-answer-compare-target="popover"
    >
      <%= form_with(url: check_answer_path,
        method: :post,
        html: {data: {answer_compare_target: "form", action: "submit->answer-compare#send"}},
        class: "quiz-card-answers") do |f| %>
        <%= f.collection_check_boxes :answer_id, @answers, :id, :content do |b| %>
          <%= b.label do %>
            <%= b.check_box data: { answer_compare_target: 'checkbox', action:"click->answer-compare#checkbox" } %>
            <%= b.text %>
          <% end %>
        <% end %>
        <div class="submit-button">
          <%= f.button 'submit', class: 'button-quiz' %>
        </div>
      <% end %>
      <%= render 'popover', feedback: @feedback %>
    </div>
  </div>
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'for you')" id="defaultOpen">For you</button>
    <button class="tablinks" onclick="openCity(event, 'lower back')">Lower Back</button>
    <button class="tablinks" onclick="openCity(event, 'neck')">Neck</button>
    <button class="tablinks" onclick="openCity(event, 'shoulder')">Shoulder</button>
  </div>

  <div id="for you" class="tabcontent">
    <div class="grid-container">
      <% @articles_for_you.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

  <div id="lower back" class="tabcontent">
    <div class="grid-container">
        <% @articles_lower_back.each do |article| %>
          <%= render "article", article: article %>
        <% end %>
    </div>
  </div>

  <div id="neck" class="tabcontent">
    <div class="grid-container">
      <% @articles_neck.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

  <div id="shoulder" class="tabcontent">
    <div class="grid-container">
      <% @articles_shoulder.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </div>
  </div>

</div>
<script>

document.getElementById("defaultOpen").click();

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
