<div class="c">
<div class="c2">
  <div><h4>Program Overview</h4></div>

    <div class="videocard" >
      <% @programs.each do |program| %>
        <div class="program-card d-flex align-items-center">
          <%= image_tag program.image, class: "program-image" %>
          <%# <img src="https://www.shape.com/thmb/VlmW0mcXXdltO--b2kea7Uwpzto=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/best-back-exercises-for-back-fat_1-ebc5111c7a9c4b1084793358cda7a3e3.jpg" class="program-image" alt="program cover"> %>
          <div class="program-content">

              <p><strong><%= program.name %></strong></p>

            <p><i class="fa-solid fa-hourglass-half"></i> &nbsp; <%= program.program_length %> days</p>
            <% if @user.program_id == program.id %>
              <button type="button" class="button-program-chosen">Joined</button>
            <% else %>

              <%= simple_form_for(@user, data: {turbo: false}) do |f| %>
                <%= f.hidden_field :program_id, value: program.id %>
                <%= f.button :submit, "Join", class:"button-program" %>
              <% end %>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
</div>
