<div class="c">
  <div class="dash" data-controller="timer">

    <div class="userinfo">
      <h4> Hi <%= @user.first_name %>! </h4>
      <p>Company - <%= @user.workplace.name %></p>
        <div class="programcard">
          <p>Current program:<strong> <%= @user.program.name %> </strong></p>
              <%= render "total_points" %>
          <p>Daily goal:<strong data-timer-target="goal"> <%= @user.program.standing_goal.to_i %> minutes</strong></p>
        </div>
        <br>
    </div>

    <div class="counter">
      <h4>Standing time today</h4>

      <form name="form_main">
        <div>
          <span id="hour" data-timer-target="hour">00h</span>:<span id="minute" data-timer-target="minute">00m</span>:<span id="second" data-timer-target="second">00s</span>
        </div>

        <button data-timer-target="stand" data-action="click->timer#stand" class="counterbutton" type="button">stand</button>
        <button data-timer-target="pause" data-action="click->timer#pause" class="counterbutton" type="button">pause</button>
        <button data-timer-target="finish" data-action="click->timer#finish" class="counterbutton" type="button">finish session</button>
      </form>
    </div>
  </div>
  <br>
        <div class="scoreboard">
          <div id="workplacename">
           <p> SCOREBOARD</p>
          </div>
          <div>
            <ol>
            <% @user.workplace.users.each do |user| %>
              <li class="staffscore">
              <div><%= user.first_name %></div>  <div><%= user.number_of_points %> points</div></li>
            <% end %>
           </ol>
          </div>
          <div>
          <a class="refresh" onClick="window.location.reload()">Update</a>
          </div>
        </div>
</div>
