<div class="c">
  <div class="dash">

    <div class="userinfo">
      <h4> Hi <%= @user.first_name %>! </h4>
      <p>Company - <%= @user.workplace.name %></p>
        <div class="programcard">
          <p>your current program is:<strong> <%= @user.program.name %> </strong></p>
          <p>your daily goal is:<strong> <%= @user.program.standing_goal.to_i %> minutes</strong></p>
        </div>
        <br>
    </div>

    <div class="counter">
      <h4>Standing time today</h4>

      <form name="form_main">
        <div>
          <span id="hour">00h</span>:<span id="minute">00m</span>:<span id="second">00s</span>
        </div>



        <button class="counterbutton" type="button" name="start">start</button>
        <button class="counterbutton" type="button" name="pause">pause</button>
        <button class="counterbutton" type="button" name="reset">reset</button>
      </form>
    </div>
  </div>
  <br>
        <div class="scoreboard">
          <div id="workplacename">
           <p> SCOREBOARD</p>
          </div>
          <div>
            <ol>
            <% @user.workplace.users.each do |user| %>
              <li class="staffscore">
              <div><%= user.first_name %></div>  <div><%= user.number_of_points %> points</div></li>
            <% end %>
           </ol>
          </div>
        </div>

</div>

<script>


let hour = 0;
let minute = 0;
let second = 0;
let millisecond = 0;

let cron;

document.form_main.start.onclick = () => start();
document.form_main.pause.onclick = () => pause();
document.form_main.reset.onclick = () => reset();

function start() {
  pause();
  cron = setInterval(() => { timer(); }, 10);
}

function pause() {
  clearInterval(cron);
}

function reset() {
  hour = 0;
  minute = 0;
  second = 0;
  millisecond = 0;
  document.getElementById('hour').innerText = '00';
  document.getElementById('minute').innerText = '00';
  document.getElementById('second').innerText = '00';
}

function timer() {
  if ((millisecond += 10) == 1000) {
    millisecond = 0;
    second++;
  }
  if (second == 60) {
    second = 0;
    minute++;
  }
  if (minute == 60) {
    minute = 0;
    hour++;
  }
  document.getElementById('hour').innerText = returnData(hour);
  document.getElementById('minute').innerText = returnData(minute);
  document.getElementById('second').innerText = returnData(second);
}

function returnData(input) {
  return input > 10 ? input : `0${input}`
}

</script>
