<div class="c">
  <h1> hi <%= @user.first_name %> </h1>
  <p>Company - <%= @user.workplace.name %></p>
  <p>your current program is:<strong> <%= @user.program.name %> </strong></p>
  <p>your daily goal is:<strong> <%= @user.program.standing_goal.to_i %> minutes</strong></p>

  <br>
    <ul>
      <p><%= @user.workplace.name  %> leaderboard:</p>
         <% @user.workplace.users.each do |user| %>
        <li><%= user.first_name %> - <%= user.number_of_points %> </li>
      <% end %>
    </ul>
  <br>


  <%= link_to "articles", articles_path %>

  <%= link_to "exercises", exercises_path %>
  <br>
  <br>




<h3>Standing time today</h3>

  <form name="form_main">
    <div>
      <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>
    </div>



    <button type="button" name="start">start</button>
    <button type="button" name="pause">pause</button>
    <button type="button" name="reset">reset</button>
  </form>

</div>

<script>


let hour = 0;
let minute = 0;
let second = 0;
let millisecond = 0;

let cron;

document.form_main.start.onclick = () => start();
document.form_main.pause.onclick = () => pause();
document.form_main.reset.onclick = () => reset();

function start() {
  pause();
  cron = setInterval(() => { timer(); }, 10);
}

function pause() {
  clearInterval(cron);
}

function reset() {
  hour = 0;
  minute = 0;
  second = 0;
  millisecond = 0;
  document.getElementById('hour').innerText = '00';
  document.getElementById('minute').innerText = '00';
  document.getElementById('second').innerText = '00';
}

function timer() {
  if ((millisecond += 10) == 1000) {
    millisecond = 0;
    second++;
  }
  if (second == 60) {
    second = 0;
    minute++;
  }
  if (minute == 60) {
    minute = 0;
    hour++;
  }
  document.getElementById('hour').innerText = returnData(hour);
  document.getElementById('minute').innerText = returnData(minute);
  document.getElementById('second').innerText = returnData(second);
}

function returnData(input) {
  return input > 10 ? input : `0${input}`
}

</script>
