<div class="c">
  <div class="dash" >

    <div class="userinfo">
      <h4> Hi <%= @user.first_name %>! </h4>
      <p>Company - <%= @user.workplace.name %></p>
        <div class="programcard">
          <p>Current program:<strong> <%= @user.program.name %> </strong></p>
              <%= render "total_points" %>
          <p>Daily goal:<strong data-timer-target="goal" id="goal"> <%= @user.program.standing_goal.to_i %> minutes</strong></p>
        </div>
        <br>
    </div>


  </div>
  <br>
        <div class="scoreboard">
          <div id="workplacename">
           <p> SCOREBOARD</p>
          </div>
          <div>
            <ol>
            <% @workplace.each do |user| %>
              <li class="staffscore">
              <div><%= user.first_name %></div>  <div><%= user.number_of_points %> points</div></li>
            <% end %>
           </ol>
          </div>
          <div>
          <a class="refresh" onClick="window.location.reload()">Update</a>
          </div>
        </div>




</div>
