<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <%# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"> %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>

  <body data-controller="timer">

    <div class="wrapper" >
     <div class="c">
      <div class="n ">
          <div class="counter">
            <form name="form_main" class="digits">
              <div class="standpause">
              <button data-timer-target="stand" data-action="click->timer#stand" class="counterbutton" type="button" name="stand" style="width: 62px"><i class="fa-solid fa-person"></i></button>
              <button data-timer-target="pause" data-action="click->timer#pause" class="counterbutton" type="button"name="pause" style="width: 62px"><i class="fa-solid fa-chair"></i></button>

              <button id="finish"data-timer-target="finish" data-action="click->timer#reset" class="counterbutton" type="button" name="reset">Finish</button>
              </div>
              <div >
                <h1><span style="font-family: 'Orbitron', sans-serif;" id="hour" class="timerdigits" data-timer-target="hour"style="font-family: 'Orbitron', sans-serif;" >00h</span>:<span id="minute" style="font-family: 'Orbitron', sans-serif;"  class="timerdigits" data-timer-target="minute">00m</span>:<span id="second"  class="timerdigits"style="font-family: 'Orbitron', sans-serif;"  data-timer-target="second">00s</span></h1>
              </div>
            </form>
          </div>
        </nav>
      </div>
        <!--Top menu -->



              <div class="sidebar">
                <div class="d-flex flex-column justify-content-center" style="display: flex; align-items: center;">
                 <h4 id="logo"><strong>RÜCKMAL</strong></h4>
                </div>
                <ul class="navlist" style="display: flex; align-items: center; flex-direction: column;">
                <div class="d-flex flex-column justify-content-center">
                  <li class="navlistitem">
                  <% if user_signed_in? %>
                     <%= link_to user_path(current_user) do   %>
                       <i class="fa-solid fa-house"></i>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to articles_path do   %>
                      <i class="fa-solid fa-lightbulb"></i>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to exercises_path do   %>
                      <i class="fa-solid fa-dumbbell"></i>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to programs_path do   %>
                      <i class="fa-solid fa-clipboard-list"></i>
                    <% end %>
                  <br>
                  <li class="navlistitem">
                    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do  %>
                      <i class="fa-solid fa-right-from-bracket"></i>
                    <% end %>
                  </li>
                  </div>
                </ul>
              </div>


    </div>
      <div class="c">
          <%= render "users/timer" %>
          <%= render "shared/flashes" %>
      </div>

    <%= yield %>

<%# <script>
window.addEventListener("load", () => {
console.log("test")
let hour = 05 ;
  let minute = 00 ;
  let second = 0 ;
  let millisecond = 0;

  let cron;

  document.form_main.stand.onclick = () => stand();
  document.form_main.pause.onclick = () => pause();
  document.form_main.reset.onclick = () => reset();

  function stand() {
    pause();
    cron = setInterval(() => { timer(); }, 10);
    console.log(document.URL)
  }

  function pause() {
    clearInterval(cron);
    console.log()
  }

  function reset() {
    clearInterval(cron);


      let h = document.getElementById('hour').innerText * 60;
      let m = document.getElementById('minute').innerText;
      let t = Number(h) + Number(m);
      let goal = document.getElementById('goal').innerHTML
      const time = goal.match(/\d+/)[0]
      const goal2 = goal
      let total = document.getElementById('totalpoints').lastChild.innerHTML

      let nt = Number(total);
        if (t >= time) {  nt += 5 };
      let formData = new FormData();
      formData.append("user[number_of_points]", nt)
      const token = document.querySelector('meta[name="csrf-token"]').content
      const spliturl = document.URL.split("/")
      const url = "/users/" + spliturl[spliturl.length-1]
      fetch(url,  {
      method: "PATCH",
      headers: { "Accept": "text/plain", "X-CSRF-Token" : token },
      body: formData
      })
      .then(response => response.text())
      .then((data) => {
        document.getElementById('totalpoints').innerHTML = data
        }
      )
  }

  function timer() {
    if ((millisecond += 10) == 1000) {
      millisecond = 0;
      second++;
    }
    if (second == 60) {
      second = 0;
      minute++;
    }
    if (minute == 60) {
      minute = 0;
      hour++;
    }
    if(document.URL = "/users/1") {document.getElementById('hour').innerText = returnData(hour)};
    if(document.URL = "/users/1") {document.getElementById('minute').innerText = returnData(minute)};
    if(document.URL = "/users/1") {document.getElementById('second').innerText = returnData(second)};
  }

  function returnData(input) {
    return input > 10 ? input : `0${input}`
  }


  // let currentMillisecondsPassed=new Date().getTime()-start;

})
// let start=new Date().getTime();

</script> %>


  </body>

</html>
