<!DOCTYPE html>
<html>
  <head>
    <title>Rueckmal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="timer">

    <div class="wrapper" >
        <!--Top menu -->

              <div class="sidebar">

                <ul class="navlist">
                  <li>
                    <%= image_tag "rueckmal-logo.png", alt: "logo", width: 100 %>
                  </li>
                  <li class="navlistitem">
                  <% if user_signed_in? %>
                     <%= link_to user_path(current_user) do   %>
                       <i class="fa-solid fa-house"></i>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to articles_path do   %>
                      <i class="fa-solid fa-lightbulb"></i>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to exercises_path do   %>
                      <i class="fa-solid fa-person-walking"></i>
                    <% end %>
                  </li>
                  <li class="navlistitem">
                    <%= link_to programs_path do   %>
                      <i class="fa-solid fa-chalkboard-user"></i>
                    <% end %>
                  <br>
                  <li class="navlistitem">
                    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do  %>
                      <i class="fa-solid fa-right-from-bracket"></i>
                    <% end %>
                  </li>
                </ul>
              </div>


    </div>


    <%= render "shared/flashes" %>


    <%= yield %>
  </body>

</html>
